@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>EmployeeID</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Email</th>
        <th>Mobile_Number</th>
        <th>AlternateMobileNumber</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>Current_Country</th>
        <th>Home_Country</th>
        <th>ZipCode</th>
        <th></th>
    </tr>
    @for(int i=0;i<Model.Rows.Count;i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>@Model.Rows[i][8]</td>
            <td>@Model.Rows[i][9]</td>
            <td>@Model.Rows[i][10]</td>
            <td>
                <a href="@Url.Action("Edit", "EmployeeDetails", new {@id=@Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete", "EmployeeDetails", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Create","EmployeeDetails")">Add EmployeeDetails</a>
